POC/POC.Library.WCF/Service References/ProxyCore/POL.Lib.Interfaces.Info.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces.Info" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces.Info" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="InfoCPU">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxClockSpeed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfCores" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Socket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoCPU" nillable="true" type="tns:InfoCPU" />
  <xs:complexType name="ArrayOfInfoLogicalDisk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoLogicalDisk" nillable="true" type="tns:InfoLogicalDisk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoLogicalDisk" nillable="true" type="tns:ArrayOfInfoLogicalDisk" />
  <xs:complexType name="InfoLogicalDisk">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VolumeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VolumeSerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoLogicalDisk" nillable="true" type="tns:InfoLogicalDisk" />
  <xs:complexType name="ArrayOfInfoNetwork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoNetwork" nillable="true" type="tns:InfoNetwork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoNetwork" nillable="true" type="tns:ArrayOfInfoNetwork" />
  <xs:complexType name="InfoNetwork">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdapterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MACAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhysicalAdapter" type="xs:boolean" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoNetwork" nillable="true" type="tns:InfoNetwork" />
  <xs:complexType name="InfoOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Architecture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicePack" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoOS" nillable="true" type="tns:InfoOS" />
  <xs:complexType name="InfoSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoSystem" nillable="true" type="tns:InfoSystem" />
</xs:schema>