POC/POC.Library.WCF/Service References/ProxyCore/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" />
  <xs:element name="ShareInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" minOccurs="0" name="c2Si" nillable="true" type="q1:ClientToServerInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" minOccurs="0" name="ShareInformationResult" nillable="true" type="q2:ServerToClientInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>