POC/POC.Library.WCF/Service References/ProxyVoiceRecord/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="VoiceRecordDownloadParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoiceRecordDownloadReturns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Length" type="xs:long" />
  <xs:element name="RecordTag" nillable="true" type="xs:string" />
  <xs:element name="TopException" nillable="true" type="xs:string" />
  <xs:element name="VoiceRecordDeleteReturns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InnerMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Succeed" type="xs:boolean" />
</xs:schema>