POC/POC.Library.WCF/Service References/ProxyVoiceRecord/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProtocolVoiceRecord" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProtocolVoiceRecord_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VoiceRecordDownloadParameter">
    <wsdl:part name="parameters" element="tns:VoiceRecordDownloadParameter" />
  </wsdl:message>
  <wsdl:message name="VoiceRecordDownloadReturns">
    <wsdl:part name="parameters" element="tns:VoiceRecordDownloadReturns" />
  </wsdl:message>
  <wsdl:message name="VoiceRecordDownloadReturns_Headers">
    <wsdl:part name="Length" element="tns:Length" />
    <wsdl:part name="RecordTag" element="tns:RecordTag" />
    <wsdl:part name="TopException" element="tns:TopException" />
  </wsdl:message>
  <wsdl:message name="VoiceRecordDeleteReturns">
    <wsdl:part name="parameters" element="tns:VoiceRecordDeleteReturns" />
  </wsdl:message>
  <wsdl:message name="VoiceRecordDeleteReturns_Headers">
    <wsdl:part name="Succeed" element="tns:Succeed" />
    <wsdl:part name="TopException" element="tns:TopException" />
  </wsdl:message>
  <wsdl:portType name="IProtocolVoiceRecord">
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtocolVoiceRecord/DownloadFile" name="VoiceRecordDownloadParameter" message="tns:VoiceRecordDownloadParameter" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtocolVoiceRecord/DownloadFileResponse" name="VoiceRecordDownloadReturns" message="tns:VoiceRecordDownloadReturns" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMapItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtocolVoiceRecord/DeleteMapItem" name="VoiceRecordDownloadParameter" message="tns:VoiceRecordDownloadParameter" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtocolVoiceRecord/DeleteMapItemResponse" name="VoiceRecordDeleteReturns" message="tns:VoiceRecordDeleteReturns" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProtocolVoiceRecord" type="tns:IProtocolVoiceRecord">
    <wsp:PolicyReference URI="#NetTcpBinding_IProtocolVoiceRecord_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/IProtocolVoiceRecord/DownloadFile" style="document" />
      <wsdl:input name="VoiceRecordDownloadParameter">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VoiceRecordDownloadReturns">
        <soap12:header message="tns:VoiceRecordDownloadReturns_Headers" part="Length" use="literal" />
        <soap12:header message="tns:VoiceRecordDownloadReturns_Headers" part="RecordTag" use="literal" />
        <soap12:header message="tns:VoiceRecordDownloadReturns_Headers" part="TopException" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMapItem">
      <soap12:operation soapAction="http://tempuri.org/IProtocolVoiceRecord/DeleteMapItem" style="document" />
      <wsdl:input name="VoiceRecordDownloadParameter">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VoiceRecordDeleteReturns">
        <soap12:header message="tns:VoiceRecordDeleteReturns_Headers" part="Succeed" use="literal" />
        <soap12:header message="tns:VoiceRecordDeleteReturns_Headers" part="TopException" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtocolVoiceRecord">
    <wsdl:port name="NetTcpBinding_IProtocolVoiceRecord" binding="tns:NetTcpBinding_IProtocolVoiceRecord">
      <soap12:address location="net.tcp://localhost:19001/VoiceRecord" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:19001/VoiceRecord</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>