POC/POC.Library.WCF/Service References/ProxyMessaging/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" />
  <xs:element name="GetMyMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientOid" type="q1:guid" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isFirstTime" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" minOccurs="0" name="GetMyMessagesResult" nillable="true" type="q2:ArrayOfMessagingItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMyMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" minOccurs="0" name="message" nillable="true" type="q3:MessagingItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMyMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>