POC/POC.Library.WCF/Service References/ProxyMessaging/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProtocolMessaging" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProtocolMessagingServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProtocolMessagingServer_GetMyMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyMessages" />
  </wsdl:message>
  <wsdl:message name="IProtocolMessagingServer_GetMyMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IProtocolMessagingServer_SendMyMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMyMessage" />
  </wsdl:message>
  <wsdl:message name="IProtocolMessagingServer_SendMyMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMyMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IProtocolMessagingServer">
    <wsdl:operation name="GetMyMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtocolMessagingServer/GetMyMessages" message="tns:IProtocolMessagingServer_GetMyMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtocolMessagingServer/GetMyMessagesResponse" message="tns:IProtocolMessagingServer_GetMyMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMyMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtocolMessagingServer/SendMyMessage" message="tns:IProtocolMessagingServer_SendMyMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtocolMessagingServer/SendMyMessageResponse" message="tns:IProtocolMessagingServer_SendMyMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProtocolMessagingServer" type="tns:IProtocolMessagingServer">
    <wsp:PolicyReference URI="#NetTcpBinding_IProtocolMessagingServer_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetMyMessages">
      <soap12:operation soapAction="http://tempuri.org/IProtocolMessagingServer/GetMyMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMyMessage">
      <soap12:operation soapAction="http://tempuri.org/IProtocolMessagingServer/SendMyMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtocolMessaging">
    <wsdl:port name="NetTcpBinding_IProtocolMessagingServer" binding="tns:NetTcpBinding_IProtocolMessagingServer">
      <soap12:address location="net.tcp://localhost:19001/Messaging" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:19001/Messaging</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>