POC/POC.Library.WCF/Service References/ProxyPhoneMonitoring/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" />
  <xs:element name="BlockLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="line" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BlockLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBlockLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="line" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBlockLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnBlockLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="line" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToggleLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitoringData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitoringDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" minOccurs="0" name="GetMonitoringDataResult" nillable="true" type="q1:ArrayOfPhoneMonitoringData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>