POC/POC.Library.WCF/Service References/ProxyPhoneMonitoring/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProtocolPhoneMonitoring" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProtocolPhoneMonitoring_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/POL.Lib.Interfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProtocolPhoneMonitoring_BlockLine_InputMessage">
    <wsdl:part name="parameters" element="tns:BlockLine" />
  </wsdl:message>
  <wsdl:message name="IProtocolPhoneMonitoring_BlockLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:BlockLineResponse" />
  </wsdl:message>
  <wsdl:message name="IProtocolPhoneMonitoring_UnBlockLine_InputMessage">
    <wsdl:part name="parameters" element="tns:UnBlockLine" />
  </wsdl:message>
  <wsdl:message name="IProtocolPhoneMonitoring_UnBlockLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnBlockLineResponse" />
  </wsdl:message>
  <wsdl:message name="IProtocolPhoneMonitoring_ToggleLine_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleLine" />
  </wsdl:message>
  <wsdl:message name="IProtocolPhoneMonitoring_ToggleLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleLineResponse" />
  </wsdl:message>
  <wsdl:message name="IProtocolPhoneMonitoring_GetMonitoringData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonitoringData" />
  </wsdl:message>
  <wsdl:message name="IProtocolPhoneMonitoring_GetMonitoringData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonitoringDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IProtocolPhoneMonitoring">
    <wsdl:operation name="BlockLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtocolPhoneMonitoring/BlockLine" message="tns:IProtocolPhoneMonitoring_BlockLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtocolPhoneMonitoring/BlockLineResponse" message="tns:IProtocolPhoneMonitoring_BlockLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnBlockLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtocolPhoneMonitoring/UnBlockLine" message="tns:IProtocolPhoneMonitoring_UnBlockLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtocolPhoneMonitoring/UnBlockLineResponse" message="tns:IProtocolPhoneMonitoring_UnBlockLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtocolPhoneMonitoring/ToggleLine" message="tns:IProtocolPhoneMonitoring_ToggleLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtocolPhoneMonitoring/ToggleLineResponse" message="tns:IProtocolPhoneMonitoring_ToggleLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMonitoringData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProtocolPhoneMonitoring/GetMonitoringData" message="tns:IProtocolPhoneMonitoring_GetMonitoringData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProtocolPhoneMonitoring/GetMonitoringDataResponse" message="tns:IProtocolPhoneMonitoring_GetMonitoringData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProtocolPhoneMonitoring" type="tns:IProtocolPhoneMonitoring">
    <wsp:PolicyReference URI="#NetTcpBinding_IProtocolPhoneMonitoring_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="BlockLine">
      <soap12:operation soapAction="http://tempuri.org/IProtocolPhoneMonitoring/BlockLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnBlockLine">
      <soap12:operation soapAction="http://tempuri.org/IProtocolPhoneMonitoring/UnBlockLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleLine">
      <soap12:operation soapAction="http://tempuri.org/IProtocolPhoneMonitoring/ToggleLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonitoringData">
      <soap12:operation soapAction="http://tempuri.org/IProtocolPhoneMonitoring/GetMonitoringData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtocolPhoneMonitoring">
    <wsdl:port name="NetTcpBinding_IProtocolPhoneMonitoring" binding="tns:NetTcpBinding_IProtocolPhoneMonitoring">
      <soap12:address location="net.tcp://localhost:19001/PhoneMonitoring" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:19001/PhoneMonitoring</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>